<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <Classes>
   <class name="org.browser.Adactin"/>
    <class name="org.browser.AlertDemo"/>
     <class name="org.browser.Amazon"/>
  </Classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
